<div class="h-full w-full">
  <!-- Code block starts -->
  <nav class="bg-white shadow block fixed right-0 left-0 z-10 py-4">
    <div class="mx-auto container px-6 py-0">
      <div class="flex items-center justify-between">       
        <button class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 rounded-md flex w-full sm:w-auto items-center sm:items-stretch justify-start sm:justify-start">
          <div class="flex items-center">
            <a href="index.html" class="logo">
              <span>
                  <img src="assets/images/logo-sm.png" alt="logo-small" class="logo-sm h-8 align-middle inline-block">
              </span>
              <span class="self-center">
                <img src="assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-light hidden dark:inline-block ms-1 group-data-[sidebar=dark]:inline-block">
                <img src="assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark inline-block dark:hidden ms-1 group-data-[sidebar=dark]:hidden">
            </span>
          </a>
            </a>
          </div>
        </button>
        <div class="flex">
          <div class="ltr:me-2 ltr:md:me-4 rtl:me-0 rtl:ms-2 rtl:lg:me-0 rtl:md:ms-4">
            
            <button id="toggle-theme" class="flex rounded-full md:me-0 relative">
              <span class="me-2">Light</span>
              <span data-lucide="moon" class="top-icon w-5 h-5 light "></span>
              <span data-lucide="sun" class="top-icon w-5 h-5 dark hidden"></span>
              <span class="ms-2">Dark</span>
            </button>
          </div>          
        </div>
      </div>
    </div>
  </nav>
</div>